<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:replace="~{fragments/header::header}">
</div>
<h3 th:text="${title}"></h3>
<div>
    <a href="form.html" th:href="@{/users/form}">创建用户</a>
</div>
<table border="1">
    <thead>
    <tr>
        <td>ID</td>
        <td>Email</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
    <tr th:if ="${userList.size()} eq 0">
        <td colspan="3" >天呀没有用户信息</td>
    </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.name}"></td>
        </tr>
    </tbody>
</table>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>