<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <meta charset="UTF-8">
    <title>Thymeleaf in action</title>
</head>
<body>
    <div>
        <h1>this is view.html</h1>
    </div>
    <div th:replace="~{fragments/header::header}"></div>
    <h3 th:text="${title}"></h3>
    <div>
        <p><strong>ID:</strong><span th:text="${user.id}"></span></p>
        <p><strong>Name:</strong><span th:text="${user.name}"></span></p>
        <p><strong>email:</strong><span th:text="${user.email}"></span></p>
    </div>

    <div>
        <a th:href="@{'/users/delete/'+${user.id}}">删除</a>
        <a th:href="@{'/users/modify/'+${user.id}}">修改</a>
    </div>

    <div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>